:root {
    --color-foreground: #d3d3f8;
    --color-background: #4242e0;
    --color-accent: #000;
}
html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}
div.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
svg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}
h1 {
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 25px 15px 20px 15px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
img[title="picture"] {
    margin-top: 20px;
    height: 40vh;
}
div {
    margin-top: 20px;
}
a {
    text-decoration: none;
    margin-right: 40px;
    
}
a:last-of-type {
    margin-right: 0;
}
img.logo {
    height: 50px;
    filter: invert(100%);
    color: var(--color-accent);
}

@media only screen and (max-width: 400px)  {
    div.site-links {
        display: flex;
        flex-wrap: wrap;
    }

    img.logo {
        height: 8vh;
    }
    a {
        flex: 1 0 calc(33% - 40px);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a:nth-child(3n) {
        margin-right: 0;
    }    
}