* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: sans-serif;
}
body, .main, nav, .social, .hero, .job, .contact {
    display: flex;
}
.highlight {
    background-color: black;
    color: white;
    padding: 6px 5px 0px 6px;;
}
@media screen {
    body, .main {
        flex-direction: column;
    }
    nav {
        order: 1;
        flex-grow: 0;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        font-size: 24px;
        border-bottom: 1px solid black;
        background-color: #eee;
    }
    nav > .logo {
        height: 38px;
        width: 38px;
        background-color: gray;
        margin-right: 10px;
    }
    .main {
        order: 2;
        flex-grow: 1;
    }
    .main > * {
        flex-grow: 1;
    }
    section.hero, section.job, section.contact {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section.social {
        order: 4;
        flex-grow: 0;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        background-color: #aaa;
    }
    section.social > .socialLogo {
        border-radius: 40px;
    }
    .social > .socialLogo {
        width: 27px;
        height: 27px;
        color: gray;
        margin-right: 10px;
        border: 1px solid black;
        padding: 5px;
    }
    section.hero {
        order: 1;
        padding-left: 10px;
    }
    section.hero > .wrapper > span {
        font-size: 28px;
    }
    section.hero > .wrapper {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
    }
    section.hero > .wrapper > h1 {
        font-size: 54px;
        margin-top: 10px;
    }
    section.hero > .wrapper > .title {
        font-size: 26px;
        text-align: right;
        margin-top: 10px;
    }
    section.hero > .wrapper > .title > .inverse {
        background-color: black;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    section.job {
        order: 2;
        background-color: #ccc;
    }
    section.job > .wrapper {
        width: 80%;
        font-size: 1.5rem; 
    }
    section.contact {
        order: 3;
        background-color: #bbb;
    }
    section.contact > .wrapper {
        width: 80%;
        text-align: center;
        font-size: 1.3rem;
    }
}