---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="src/styles/index.css" rel="stylesheet" />
        <link href="https://mstdn.social/@roggmatz" rel="me" />
        <meta content="#2c2cdd" name="theme-color" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline src="/generative-colors.js"></script>
        <script is:inline defer="" src="./generative-texture.js" type="module"></script>
        <title>Roggmatz.com - The Website of Rogger Matamoros</title>
        <meta content="en-us" http-equiv="content-language" />
        <meta
            content="The future, centralized home or Rogger's online presence. Currently under construction, check again later!"
            name="description"
        />

        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-3DMV6MVBMS"></script>
        <script is:inline type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3DMV6MVBMS', {'send_page_view': false});
        </script>
        <!-- Clarity -->
        <script is:inline type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?exclude=true";
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "jzs7n9n9pm");
        </script>
    </head>
    <body>
        <main class="content">
            <h1>
                UNDER CONSTRUCTION
                <div class="site-links">
                    <a href="https://linkedin.com/in/roggmatz">
                        <svg
                            fill="none"
                            viewBox="2 2 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="logo"
                                d="M22 3.47059V20.5294C22 20.9194 21.8451 21.2935 21.5693 21.5693C21.2935 21.8451 20.9194 22 20.5294 22H3.47059C3.08056 22 2.70651 21.8451 2.43073 21.5693C2.15494 21.2935 2 20.9194 2 20.5294V3.47059C2 3.08056 2.15494 2.70651 2.43073 2.43073C2.70651 2.15494 3.08056 2 3.47059 2H20.5294C20.9194 2 21.2935 2.15494 21.5693 2.43073C21.8451 2.70651 22 3.08056 22 3.47059ZM7.88235 9.64706H4.94118V19.0588H7.88235V9.64706ZM8.14706 6.41177C8.14861 6.18929 8.10632 5.96869 8.02261 5.76255C7.93891 5.55642 7.81542 5.36879 7.65919 5.21039C7.50297 5.05198 7.31708 4.92589 7.11213 4.83933C6.90718 4.75277 6.68718 4.70742 6.46471 4.70588H6.41177C5.95934 4.70588 5.52544 4.88561 5.20552 5.20552C4.88561 5.52544 4.70588 5.95934 4.70588 6.41177C4.70588 6.86419 4.88561 7.29809 5.20552 7.61801C5.52544 7.93792 5.95934 8.11765 6.41177 8.11765C6.63426 8.12312 6.85565 8.0847 7.06328 8.00458C7.27092 7.92447 7.46074 7.80422 7.62189 7.65072C7.78304 7.49722 7.91237 7.31346 8.00248 7.10996C8.09259 6.90646 8.14172 6.6872 8.14706 6.46471V6.41177ZM19.0588 13.3412C19.0588 10.5118 17.2588 9.41177 15.4706 9.41177C14.8851 9.38245 14.3021 9.50715 13.7799 9.77345C13.2576 10.0397 12.8143 10.4383 12.4941 10.9294H12.4118V9.64706H9.64706V19.0588H12.5882V14.0529C12.5457 13.5403 12.7072 13.0315 13.0376 12.6372C13.3681 12.2429 13.8407 11.9949 14.3529 11.9471H14.4647C15.4 11.9471 16.0941 12.5353 16.0941 14.0176V19.0588H19.0353L19.0588 13.3412Z"
                                fill="#000000"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/roggmatz">
                        <svg
                            preserveAspectRatio="none"
                            version="1.1"
                            viewBox="250 100 1000 1000"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns="http://www.w3.org/2000/svg"><path
                                class="logo"
                                d="M283.94,167.31l386.39,516.64L281.5,1104h87.51l340.42-367.76L984.48,1104h297.8L874.15,558.3l361.92-390.99
                                                              h-87.51l-313.51,338.7l-253.31-338.7H283.94z M412.63,231.77h136.81l604.13,807.76h-136.81L412.63,231.77z"
                                id="path1009"></path>
                        </svg>
                    </a>
                    <a href="https://threads.net/@roggmatz">
                        <svg
                            aria-label="Threads"
                            viewBox="0 0 192 192"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="logo"
                                d="M141.537 88.9883C140.71 88.5919 139.87 88.2104 139.019 87.8451C137.537 60.5382 122.616 44.905 97.5619 44.745C97.4484 44.7443 97.3355 44.7443 97.222 44.7443C82.2364 44.7443 69.7731 51.1409 62.102 62.7807L75.881 72.2328C81.6116 63.5383 90.6052 61.6848 97.2286 61.6848C97.3051 61.6848 97.3819 61.6848 97.4576 61.6855C105.707 61.7381 111.932 64.1366 115.961 68.814C118.893 72.2193 120.854 76.925 121.825 82.8638C114.511 81.6207 106.601 81.2385 98.145 81.7233C74.3247 83.0954 59.0111 96.9879 60.0396 116.292C60.5615 126.084 65.4397 134.508 73.775 140.011C80.8224 144.663 89.899 146.938 99.3323 146.423C111.79 145.74 121.563 140.987 128.381 132.296C133.559 125.696 136.834 117.143 138.28 106.366C144.217 109.949 148.617 114.664 151.047 120.332C155.179 129.967 155.42 145.8 142.501 158.708C131.182 170.016 117.576 174.908 97.0135 175.059C74.2042 174.89 56.9538 167.575 45.7381 153.317C35.2355 139.966 29.8077 120.682 29.6052 96C29.8077 71.3178 35.2355 52.0336 45.7381 38.6827C56.9538 24.4249 74.2039 17.11 97.0132 16.9405C119.988 17.1113 137.539 24.4614 149.184 38.788C154.894 45.8136 159.199 54.6488 162.037 64.9503L178.184 60.6422C174.744 47.9622 169.331 37.0357 161.965 27.974C147.036 9.60668 125.202 0.195148 97.0695 0H96.9569C68.8816 0.19447 47.2921 9.6418 32.7883 28.0793C19.8819 44.4864 13.2244 67.3157 13.0007 95.9325L13 96L13.0007 96.0675C13.2244 124.684 19.8819 147.514 32.7883 163.921C47.2921 182.358 68.8816 191.806 96.9569 192H97.0695C122.03 191.827 139.624 185.292 154.118 170.811C173.081 151.866 172.51 128.119 166.26 113.541C161.776 103.087 153.227 94.5962 141.537 88.9883ZM98.4405 129.507C88.0005 130.095 77.1544 125.409 76.6196 115.372C76.2232 107.93 81.9158 99.626 99.0812 98.6368C101.047 98.5234 102.976 98.468 104.871 98.468C111.106 98.468 116.939 99.0737 122.242 100.233C120.264 124.935 108.662 128.946 98.4405 129.507Z"
                            ></path>
                        </svg>
                    </a>
                    <a href="https://bsky.app/profile/roggmatz.bsky.social">
                        <svg
                            version="1.1"
                            viewBox="15 -15 600 590"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="logo"
                                d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
                                fill="#000"></path>
                        </svg>
                    </a>
                    <a href="https://github.com/roggmatsz">
                        <svg
                            enable-background="new 0 0 24 24"
                            height="512"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="logo"
                                d="m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z"
                                fill="#000000"></path>
                        </svg>
                    </a>
                    <a href="https://mstdn.social/@roggmatz">
                        <svg
                            height="1000mm"
                            role="img"
                            style="max-width:1.6em; height: auto;"
                            viewBox="0 0 1000 1000"
                            width="1000mm"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                class="logo"
                                d=" M 502 18C 623 19 740 32 808 64C 808 64 942 124 942 330C 942 330 944 482 924 587C 911 654 807 727 688 741C 626 749 565 756 500 753C 394 748 310 727 310 727C 310 738 310 747 312 757C 326 862 416 868 501 871C 588 874 665 850 665 850C 665 850 668 928 668 928C 668 928 608 960 500 966C 441 969 367 965 281 942C 95 893 63 694 58 493C 57 433 58 377 58 330C 58 124 193 64 193 64C 261 32 377 19 499 18C 499 18 502 18 502 18M 256 224C 230 254 217 295 217 346C 217 346 217 595 217 595C 217 595 315 595 315 595C 315 595 315 353 315 353C 315 302 337 276 380 276C 427 276 451 307 451 368C 451 368 451 500 451 500C 451 500 549 500 549 500C 549 500 549 368 549 368C 549 307 573 276 620 276C 663 276 685 302 685 353C 685 353 685 595 685 595C 685 595 783 595 783 595C 783 595 783 346 783 346C 783 295 770 254 744 224C 717 194 682 179 639 179C 588 179 550 199 525 237C 525 237 500 279 500 279C 500 279 475 237 475 237C 450 199 412 179 361 179C 318 179 283 194 256 224C 256 224 256 224 256 224"
                                fill="#000000"
                                id="path"
                                style="opacity:1;fill-opacity:1;"
                                transform=""></path>
                        </svg>
                    </a>
                    <a href="https://instagram.com/roggmatz">
                        <svg
                            fill="#000000"
                            id="Camada_1"
                            version="1.1"
                            viewBox="4 4 25 25"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                class="logo"
                                d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"
                            ></path>
                            <path
                                class="logo"
                                d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8   c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"
                            ></path>
                            <path
                                class="logo"
                                d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8   c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"
                            ></path>
                        </svg>
                    </a>
                    <a href="https://goodreads.com/roggmatz">
                        <svg
                            style="enable-background:new 0 0 512 512;"
                            version="1.1"
                            viewBox="0 0 512 512"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <style type="text/css">
                                .st0 {
                                    fill: rgba(0, 0, 0, 0);
                                    stroke: var(--color-foreground);
                                    stroke-width: 15;
                                    stroke-miterlimit: 10;
                                }
                                .st1 {
                                    fill: var(--color-foreground);
                                }
                            </style>
                            <g id="Edges"> </g>
                            <g id="Background">
                                <path
                                    class="st0"
                                    d="M492.3,430.9c0,34.2-27.7,61.9-61.9,61.9H80.7c-34.2,0-61.9-27.7-61.9-61.9V81.1c0-34.2,27.7-61.9,61.9-61.9   h349.7c34.2,0,61.9,27.7,61.9,61.9V430.9z"
                                    stroke=""></path>
                            </g>
                            <g id="Symbol">
                                <path
                                    class="st1"
                                    d="M357.3,136.2c0-4.9-0.4-9.8-0.6-14.7c-10.5,0-19.4,0-29.4,0c0,11.2,0,21.7,0,32.3   c-47.2-65.8-144.3-45-171.6,20.5c-17.5,42-16.5,84.3,1.7,125.7c19.2,43.6,74.7,62.2,118.1,49.9c2.3-0.4,5-1.1,7.9-2   c4.2-1.3,7.7-2.8,10-4.2c6-2.4,13-6.5,20.1-11.9c5.6-4.3,10.5-8.9,14.2-13.2c-1.1,16.4-1.5,33-4.1,49.2   c-3.2,20-12.5,37.2-31.5,47.3c-41.6,22-91.5,5.3-110.3-37.2c-9.5,0-19,0-29.2,0c2.1,28,16.8,46.3,39.8,58.1   c27.6,14.2,57.3,15.7,87.5,10.8c38.5-6.3,63.6-28,72.3-66.4c3.1-13.6,4.8-27.8,4.9-41.8C357.6,271.2,357.3,203.7,357.3,136.2z    M322.8,277.3c-5.5,15.8-14.7,28.4-26.7,37c-3,2.1-17.6,12.4-39.1,13.4c-1.3,0.1-4.9,0.2-9.2,0c-0.2,0.1-0.3,0.1-0.5,0.1   c-31.3-1.9-55.4-20.2-65.9-50.5c-8.8-25.4-9.1-51.2-2.7-77c9.3-37.4,36.3-60.2,70.8-61.1c0.8-0.1,1.2-0.1,1.2-0.1   c17.9-1.6,31.9,5.9,36.3,8.3c18.5,9.9,32.3,28.3,38.5,52.9C331.9,226.1,331.6,251.9,322.8,277.3z"
                                ></path>
                            </g>
                        </svg>
                    </a>
                    <a href="https://steamcommunity.com/id/roggmatz">
                        <svg
                            height="259px"
                            preserveAspectRatio="xMidYMid"
                            version="1.1"
                            viewBox="0 0 256 259"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <path
                                    class="logo"
                                    d="M127.778579,0 C60.4203546,0 5.24030561,52.412282 0,119.013983 L68.7236558,147.68805 C74.5451924,143.665561 81.5845466,141.322185 89.1497766,141.322185 C89.8324924,141.322185 90.5059824,141.340637 91.1702465,141.377541 L121.735621,96.668877 L121.735621,96.0415165 C121.735621,69.1388208 143.425688,47.2457835 170.088511,47.2457835 C196.751333,47.2457835 218.441401,69.1388208 218.441401,96.0415165 C218.441401,122.944212 196.751333,144.846475 170.088511,144.846475 C169.719475,144.846475 169.359666,144.83725 168.99063,144.828024 L125.398299,176.205276 C125.425977,176.786507 125.444428,177.367738 125.444428,177.939743 C125.444428,198.144443 109.160732,214.575753 89.1497766,214.575753 C71.5836817,214.575753 56.8868387,201.917832 53.5655182,185.163615 L4.40997549,164.654462 C19.6326942,218.967277 69.0834655,258.786219 127.778579,258.786219 C198.596511,258.786219 256,200.847629 256,129.393109 C256,57.9293643 198.596511,0 127.778579,0 Z M80.3519677,196.332478 L64.6033732,189.763644 C67.389592,195.63131 72.2239585,200.539484 78.6359521,203.233444 C92.4932392,209.064206 108.472481,202.430791 114.247888,188.435116 C117.043333,181.663313 117.061785,174.190342 114.294018,167.400086 C111.526251,160.609831 106.295171,155.31417 99.5879487,152.491048 C92.9176301,149.695603 85.7767911,149.797088 79.5031858,152.186594 L95.777656,158.976849 C105.999942,163.276114 110.834309,175.122157 106.571948,185.436702 C102.318812,195.751247 90.574254,200.631743 80.3519677,196.332478 Z M202.30901,96.0424391 C202.30901,78.1165345 187.85204,63.5211763 170.092201,63.5211763 C152.323137,63.5211763 137.866167,78.1165345 137.866167,96.0424391 C137.866167,113.968344 152.323137,128.554476 170.092201,128.554476 C187.85204,128.554476 202.30901,113.968344 202.30901,96.0424391 Z M145.938821,95.9870838 C145.938821,82.4988323 156.779242,71.5661525 170.138331,71.5661525 C183.506646,71.5661525 194.347066,82.4988323 194.347066,95.9870838 C194.347066,109.475335 183.506646,120.408015 170.138331,120.408015 C156.779242,120.408015 145.938821,109.475335 145.938821,95.9870838 Z"
                                    fill="#000000"></path>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.last.fm/user/adn6691">
                        <svg
                            enable-background="new 0 0 256 256"
                            version="1.1"
                            viewBox="0 0 256 256"
                            x="0px"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            y="0px">
                            <path
                                class="logo"
                                d="M102.9,158.4c-4.9,4.4-14.4,13.3-30.3,13.3C54,171.8,36,155.4,36,129.3c0-33.5,21.5-44.3,38-44.3c23.8,0,29,14.4,35.5,34.2l8.7,27.2c8.6,26.4,24.9,47.7,71.6,47.7c33.5,0,56.2-10.4,56.2-37.6c0-22.1-12.5-33.5-35.7-39l-17.3-3.8c-11.9-2.7-15.4-7.6-15.4-15.8c0-9.3,7.3-14.7,19.2-14.7c13,0,20,4.9,21.1,16.6l27-3.3C242.7,72,226,61.9,198.4,61.9c-24.3,0-48.1,9.3-48.1,39c0,18.5,8.9,30.2,31.4,35.7l18.4,4.4c13.8,3.3,18.4,9,18.4,16.9c0,10.1-9.7,14.2-28.1,14.2c-27.3,0-41-14.4-47.5-34.3l-8.9-27.2C122.5,75,109.1,61.9,73.2,61.9C41.1,61.9,10,87.3,10,130.3c0,41.4,29.9,63.8,61.3,63.8c22.7,0,34.2-8,39.9-12.1L102.9,158.4z"
                                fill="#000000"></path>
                        </svg>
                    </a>
                    <a href="https://soundcloud.com/roggmatz">
                        <svg
                            enable-background="new 0 0 256 256"
                            version="1.1"
                            viewBox="0 0 256 256"
                            x="0px"
                            xml:space="preserve"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            y="0px">
                            <path
                                class="logo"
                                d="M216.3,120.1c-3.2,0-6.2,0.7-9.1,1.6c-3.3-25.4-25.5-45.1-52.6-45.1c-6.6,0-12.9,1.2-18.8,3.4v99.5h80.5c16.4,0,29.7-13.3,29.7-29.7S232.7,120.1,216.3,120.1z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M124.9,81.3c-3.9,0-7,3.1-7,7v83.7c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7V88.3C131.9,84.4,128.8,81.3,124.9,81.3z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M107,92.5c-3.9,0-7,3.1-7,7v72.4c0,3.9,3.1,7,7,7s7-3.1,7-7V99.5C113.9,95.7,110.8,92.5,107,92.5z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M88.9,87.9c-3.9,0-7,3.1-7,7v77.1c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7V94.8C95.9,91,92.8,87.9,88.9,87.9z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M71,98.1c-3.9,0-7,3.1-7,7V172c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7v-66.9C77.9,101.3,74.8,98.1,71,98.1z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M53,123.2c-3.9,0-7,3.1-7,7V172c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7v-41.9C59.9,126.3,56.8,123.2,53,123.2z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M35,123.2c-3.9,0-7,3.1-7,7V172c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7v-41.9C41.9,126.3,38.8,123.2,35,123.2z"
                                fill="#000000"></path>
                            <path
                                class="logo"
                                d="M17,133.2c-3.9,0-7,3.1-7,7v31.8c0,3.9,3.1,7,7,7c3.9,0,7-3.1,7-7v-31.8C23.9,136.3,20.8,133.2,17,133.2z"
                                fill="#000000"
                            >
                            </path>
                        </svg>
                    </a>
                </div>
            </h1>
        </main>
    </body>
</html>
